<div class="container-big-card">
  
  <div class="big-card-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qROQFV_3SDisHS4ISFujMVkZQq528xxgKg&s" alt="">
  </div>
  
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias minima voluptatum provident veritatis earum voluptatem ipsum voluptates fuga iste qui voluptatibus consequatur cupiditate beatae, numquam cumque minus, reiciendis assumenda!</a></p>
  </div>
</div>