.container-content {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.content-cover {
  /*border: 1px solid yellow;*/
}

.content-cover > img {
  border: 5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.content-description {
  margin-top: 15px;
}

.content-description > p {
  margin-top: 20px;
  color: rgb(200, 200, 200);
}